html, body {
  height: 100%;
  width: 100%;
}

body {
  background: #212B35;
  color: #F9FAFB;
  font-family: 'Karla', sans-serif;
}

.tortilla {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.page-header {
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
}

.page-header__logo {
  width: 112px;
  height: auto;
  margin-bottom: -8px;
}

.page-header__title {
  font-family: 'Rajdhani', sans-serif;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 0;
}

.page-header__sub-title {
  color: #919EAB;
  font-size: 12px;
  letter-spacing: 8px;
  margin-top: -4px;
}

@media only screen and (min-device-width: 768px) {
  .page-header__logo {
    width: 128px;
    margin-bottom: -16px;
  }

  .page-header__title {
    font-size: 48px;
  }

  .page-header__sub-title {
    font-size: 16px;
    margin-top: -8px;
  }
}
