@import "base";

#conway {
  background: shade($purple, 7%);
  padding-top: 40px;
  position: absolute;
  top: 0; left: 0;
  overflow: hidden;
  z-index: -500;
}

.logo {
  position: relative;
  top: 11px;
  left: 25px;
}

.container > .row {
  padding-top: 1.4em;
  padding-bottom: 2.4em;
}

.row > ul {
  margin: 0; padding: 0;
}

.light {
  background: white;
  color: shade($text-color, 55%);
}

li.col-md-6, li.col-md-8 {
  list-style-type: none;
}

h1 {
  span { display: block; }

  span:last-child {
    color: tint($purple, 30%);
    padding-top: 0.5em;
    font-size: $font-size-base;
  }
}

.canada {
  display: block;
  margin: 0 auto;
  text-align: center;

  h2 {
    color: $gray;
    font-size: $font-size-base;
  }
}

.responsibilites {
  margin-bottom: 1em;
}

section section h1 {
  color: tint($purple, 15%);
  font-size: $font-size-h3;
}
